#
# Copyright (C) 2016+ AzerothCore <www.azerothcore.org>, released under GNU AGPL v3 license: https://github.com/azerothcore/azerothcore-wotlk/blob/master/LICENSE-AGPL3
#

[worldserver]

########################################
# Weekly Rewards Configuration
########################################
#
#    WeeklyRewards.Enable
#        Description: Enable/Disable the module.
#		 Type:        Bool
#        Default:     0 - Disabled
#                     1 - Enabled
#

WeeklyRewards.Enable = 0

#
#    WeeklyRewards.Rewards.AchievementPoints.Scaling
#        Description: Enable/Disable weekly rewards scaling based off achievement points.
#		 Type:        Bool
#        			  0 - Disabled
#        Default:     1 - Enabled
#

WeeklyRewards.Rewards.AchievementPoints.Scaling = 1

#
#    WeeklyRewards.Rewards.AchievementPoints.Scalar
#        Description: The scalar used internally for controlling how much achievement points influences the reward.
#		 Type:        Float
#        Default:     1000
#		 Note:        This value is used as a divider internally, the lower this value the higher the reward.
#

WeeklyRewards.Rewards.AchievementPoints.Scalar = 1000

#
#    WeeklyRewards.Rewards.Activity.Scalar
#        Description: The scalar used internally for controlling how much activity points influences the reward.
#	     Type:        Float
#        Default:     1
#		 Note:        This value is used as a divider internally, the lower this value the higher the reward.
#

WeeklyRewards.Rewards.ActivityPoints.Scalar = 1

#
#    WeeklyRewards.Rewards.ActivityPoints.Dungeon.Normal
#        Description: The amount of points to be rewarded for completing a normal level 80 LFG dungeon.
#	     Type:        UInt32
#        Default:     3
#

WeeklyRewards.Rewards.ActivityPoints.Dungeon.Normal = 3

#
#    WeeklyRewards.Rewards.ActivityPoints.Dungeon.Heroic
#        Description: The amount of points to be rewarded for completing a heroic level 80 LFG dungeon.
#	     Type:        UInt32
#        Default:     6
#

WeeklyRewards.Rewards.ActivityPoints.Dungeon.Heroic = 6

#
#    WeeklyRewards.Rewards.ActivityPoints.Raid.Normal
#        Description: The amount of points to be rewarded for killing a normal raid boss.
#	     Type:        UInt32
#        Default:     3
#

WeeklyRewards.Rewards.ActivityPoints.Raid.Normal.Boss = 3

#
#    WeeklyRewards.Rewards.ActivityPoints.Raid.Heroic
#        Description: The amount of points to be rewarded for killing a heroic raid boss.
#	     Type:        UInt32
#        Default:     6
#

WeeklyRewards.Rewards.ActivityPoints.Raid.Heroic.Boss = 6

#
#    WeeklyRewards.Rewards.ActivityPoints.Rare
#        Description: The amount of points to be rewarded for killing an open world rare.
#	     Type:        UInt32
#        Default:     2
#

WeeklyRewards.Rewards.ActivityPoints.Rare = 2

#
#    WeeklyRewards.Rewards.ActivityPoints.RareElite
#        Description: The amount of points to be rewarded for killing an open world rare elite.
#	     Type:        UInt32
#        Default:     4
#

WeeklyRewards.Rewards.ActivityPoints.RareElite = 4

#
#    WeeklyRewards.Rewards.ActivityPoints.Gather
#        Description: The amount of points to be rewarded for gathering in the open world.
#		 Type:        UInt32
#        Default:     1
#

WeeklyRewards.Rewards.ActivityPoints.Gather = 1

#
#    WeeklyRewards.Rewards.ActivityPoints.Gather
#        Description: The chance that you have to gain a point for gathering.
#	 	 Type:        UInt32
#        Default:     1
#	 Range:       0-100
#

WeeklyRewards.Rewards.ActivityPoints.Gather.Chance = 10

#
#    WeeklyRewards.Mail.Sender
#        Description: A creature_template entry which shows up as sender in the mailbox for rewards.
#	     Type:        UInt32
#        Default:     34337 (The Postmaster)
#

WeeklyRewards.Mail.Sender = 34337

#
#    WeeklyRewards.ActivityPoints.Maximum
#        Description: The maximum amount of activity points you can earn in a week.
#	     Type:        UInt32
#        Default:     100
#

WeeklyRewards.ActivityPoints.Maximum = 100

#
#    WeeklyRewards.ActivityPoints.Notify
#        Description: Notifies the player when they receive activity points.
#		 Type:        Bool
#                     0 - Disabled
#        Default:     1 - Enabled
#

WeeklyRewards.ActivityPoints.Notify = 1

#
#    WeeklyRewards.ActivityPoints.Notify
#        Description: Notifies the players of their activity points on login.
#		 Type:        Bool
#                     0 - Disabled
#        Default:     1 - Enabled
#

WeeklyRewards.ActivityPoints.Notify.Login = 1