#
# Copyright (C) 2016+ AzerothCore <www.azerothcore.org>, released under GNU AGPL v3 license: https://github.com/azerothcore/azerothcore-wotlk/blob/master/LICENSE-AGPL3
#

[worldserver]

########################################
# Weekly Rewards Configuration
########################################
#
#    WeeklyRewards.Enable
#        Description: Enable/Disable the module.
#		 Type:        Bool
#        Default:     0 - Disabled
#                     1 - Enabled
#

WeeklyRewards.Enable = 0

#
#    WeeklyRewards.Rewards.AchievementPoints.Scaling
#        Description: Enable/Disable weekly rewards scaling based off achievement points.
#		 Type:        Bool
#        			  0 - Disabled
#        Default:     1 - Enabled
#

WeeklyRewards.Rewards.AchievementPoints.Scaling = 1

#
#    WeeklyRewards.Rewards.AchievementPoints.Scalar
#        Description: The scalar used internally for controlling how much achievement points influences the reward.
#		 Type:        Float
#        Default:     1000
#		 Note:        This value is used as a divider internally, the lower this value the higher the reward.
#

WeeklyRewards.Rewards.AchievementPoints.Scalar = 1000

#
#    WeeklyRewards.Rewards.Activity.Scalar
#        Description: The scalar used internally for controlling how much activity points influences the reward.
#	     Type:        Float
#        Default:     1
#		 Note:        This value is used as a divider internally, the lower this value the higher the reward.
#

WeeklyRewards.Rewards.ActivityPoints.Scalar = 1

#
#    WeeklyRewards.Rewards.ActivityPoints.Dungeon.Normal
#        Description: The amount of points to be rewarded for completing a normal level 80 LFG dungeon.
#	     Type:        UInt32
#        Default:     3
#

WeeklyRewards.Rewards.ActivityPoints.Dungeon.Normal = 3

#
#    WeeklyRewards.Rewards.ActivityPoints.Dungeon.Heroic
#        Description: The amount of points to be rewarded for completing a heroic level 80 LFG dungeon.
#	     Type:        UInt32
#        Default:     6
#

WeeklyRewards.Rewards.ActivityPoints.Dungeon.Heroic = 6

#
#    WeeklyRewards.Rewards.ActivityPoints.Raid.Normal
#        Description: The amount of points to be rewarded for killing a normal raid boss.
#	     Type:        UInt32
#        Default:     3
#

WeeklyRewards.Rewards.ActivityPoints.Raid.Normal.Boss = 3

#
#    WeeklyRewards.Rewards.ActivityPoints.Raid.Heroic
#        Description: The amount of points to be rewarded for killing a heroic raid boss.
#	     Type:        UInt32
#        Default:     6
#

WeeklyRewards.Rewards.ActivityPoints.Raid.Heroic.Boss = 6

#
#    WeeklyRewards.Rewards.ActivityPoints.Rare
#        Description: The amount of points to be rewarded for killing an open world rare.
#	     Type:        UInt32
#        Default:     2
#

WeeklyRewards.Rewards.ActivityPoints.Rare = 2